.App {
  text-align: center;
  width: 100%;
  height: 100%;
}
/*gridでレイアウトを均等に整える*/
.pokemonCardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center; /*カードを中央に寄せる*/
  gap: 20px;
  margin-top: 20px;
}
